.user-info {
    padding: 1em;
    line-height: 2em;
    color: #697684;
}

.user-block {
    border: 1px solid #e3e3e3;
    border-radius: 5px 5px 5px 5px;
    -moz-border-radius: 5px 5px 5px 5px;
    -webkit-border-radius: 5px 5px 5px 5px;

    -webkit-box-shadow: 2px 2px 5px 0px rgba(50, 50, 50, 0.5);
    -moz-box-shadow:    2px 2px 5px 0px rgba(50, 50, 50, 0.5);
    box-shadow:         2px 2px 5px 0px rgba(50, 50, 50, 0.5);

    margin-bottom: 1em;
    background-color: #ffffff;
}
